td{
   width: 100px;
   height: 100px;
   background-color: white;
   border: 5px solid grey;
   
}
body{
   background-color: blanchedalmond;
}
table{
   border-collapse: separate;
   border-spacing: 10px;
   
}
td{
   border-radius: 3px;
   
   font-family: 'Itim', cursive;
   font-size: 40px;
}
#scr{
   width: 100px;
   height: 70px;
   border: 2px solid black;
   border-radius: 5px;
   background-color: #cbccc2;
   font-family: 'Itim', cursive;
   font-size: 20px;
   color: black;

}
